image{
  position: absolute;
}
.area{
  position: absolute;
  width: 100%;
  height: 100%;
}
.rectangle{
  width: 5%;
  height: 4%;
  background-color: red;
  position: absolute;
  left: 95%;
  top: 50%;
  border-radius: 100%;
  animation-name: projectile;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}
.point{
  width: 5%;
  height: 4%;
  background-color: green;
  position: absolute;
  left: 90%;
  top: 40%;
  border-radius: 100%;
  animation-name: projectile;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}
.score{
  font-family: sans-serif;
  position: absolute;
  left: 90%;
  top: 0%;
  width: 5%;
  height: 5%;
}
@keyframes projectile {
  0%{
    left: 100%;
  }
  100%{
    left: 0%;
  }
}
